/* signup.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #0066cc;
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin-top: 10px;
  color: #333;
}

input,
select {
  width: 50vh;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

small {
  color: #888;
}

button {
  display: block;
  width: 45%;
  background-color: #0066cc;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #0056a6;
}

a {
  text-decoration: none;
}

a button {
  margin-top: 10px;
}

/* 추가된 부분: 버튼 컨테이너 스타일 */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
